<center>
    <div class="fade-in">
      <p class="textFont">Satori is a network of nodes, all working together to predict the future.</p>
      <p class="textFont">Anyone can publish a data feed to the network and the nodes will predict the future of that data feed.</p>
      <p class="textFont">Each node tries to make better and better predictions of the data feeds assigned to it.</p>
      <!--
      <p style="color:white;">✔</p>
      -->
      <br/>
      <button class="textFontButton">Roadmap</button>
      <br/>
      <br/>
      <a href="#phase0"><p class="textFont" style="cursor: pointer;">Phase 0 - Development</p></a>
      <a href="#phase1"><p class="textFont" style="cursor: pointer;">Phase 1 - Public Good</p></a>
      <a href="#phase2"><p class="textFont" style="cursor: pointer;">Phase 2 - Market Platform</p></a>
      <a href="#phase3"><p class="textFont" style="cursor: pointer;">Phase 3 - Fully Decentralized</p></a>
      <br/>
      <br/>
      <div class="phase">
        <p class="textFont phase-border" id="phase0">Phase 0<br />Development</p>
      </div>
      <div class="container">
        <div class="timeline-item" date-is='November 2021'>
          <h2 class="textFontButton">Satori Network Conceptualized as the Simplest Approach to Distributed AI</h2>
          <p class="textFont">A network of computing nodes all working together to predict the future of everything, and making those predictions freely available.</p>
        </div>
        <div class="timeline-item" date-is='Q1 2022'>
          <h2 class="textFontButton">Proof of Concept Engine Produced</h2>
          <p class="textFont">The core of a Satori Neuron is an automated all-purpose prediction engine.</p>
        </div>
        <div class="timeline-item" date-is='Q2 2022 - Q4 2023'>
          <h2 class="textFontButton">Satori Development</h2>
          <p class="textFont">The Satori Neuron, peer-to-peer protocol, and supporting infrastructure.</p>
        </div>
        <div class="timeline-item" date-is='January 1st 2024'>
          <h2 class="textFontButton">Satori Alpha Release</h2>
          <p class="textFont"><a href="https://medium.com/@jordan.kay/satori-in-alpha-821bdb90f77e" target='_blank'>Testing Satori Network. Click here for announcement.</a></p>
        </div>
        <div class="timeline-item" date-is='March 3rd 2024'>
          <h2 class="textFontButton">Satori Beta Release</h2>
          <p class="textFont">Testing Satori Network with payments.</p>
        </div>
      </div>
      <div class="phase">
        <p class="textFont phase-border" id="phase1">Phase 1<br />Public Good</p>
      </div>
      <div class="container">
        <div class="timeline-item" date-is='2024-2027'>
          <h2 class="textFontButton">Produce Public Good</h2>
          <p class="textFont">Publically available predictions on all of the most popular and valuable data streams in the world. This includes government metrics, demographic statistics, price and market data, weather and envionment tracking, and more.</p>
          <h2 class="textFontButton">Scale</h2>
          <p class="textFont">As the number of Satori Neurons increases the network as a whole will be able to handle more predicting data streams, and will find better correlations between them. Satori will get better and better at producing its primary goal: the Satori public good of free and open prediction of the future.</p>
        </div>
      </div>
      <div class="phase">
        <p class="textFont phase-border" id="phase2">Phase 2<br />Market Platform</p>
      </div>
      <div class="container">
        <div class="timeline-item" date-is='2027-2030'>
          <h2 class="textFontButton">Develop Market Platform</h2>
          <p class="textFont">Once matured, The Satori Network represents the skill of prediction; honed and developed by a vast number of machines around the globe. That developed machine labor is brought to market through the Satori prediction market platform. Here, buyers and sellers of future forecasting can come together. This requires building out the rest of the Blockchain protocol to support a myriad of market transactions for future forecasting.</p>
        </div>
      </div>
      <div class="phase">
        <p class="textFont phase-border" id="phase3">Phase 3<br />Fully Decentralized</p>
      </div>
      <div class="container">
        <div class="timeline-item" date-is='2030 and beyond'>
          <h2 class="textFontButton">Fully Functional DAO</h2>
          <p class="textFont">Remove all centralizing training wheels of Satori. Prediction of the future should be something that is as free from corruption, as defended against manipulation, and as uncensorable as it is possible to make anything. To censor predictions is to manipulate the future.</p>
        </div>
      </div>
      </center>
    </div>
  </center>